.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.underline {
  text-decoration: underline;
}


/* Default font size */
h1 {
    font-size: 3rem;
}

  /* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    h1 {
    font-size: 2rem;
    }
}
